<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PixelTrice</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<br>
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="text-center">Recipe details</h3>
			<br>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<div class="thumb-image">
								<img th:src="@{${'/image/display/'+id}}"
									class="img img-responsive img-fluid" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					Name: <b><span th:text="${name}"></span></b><br><br> Category: <b><span
						th:text="${category}"></span></b><br><br> Date: <b><span th:text="${date}"></span></b>
					<br><br>
					<div class="product-single-w3l">
						Description:
						<textarea class="form-control" th:text="${description}" rows="10"
							cols="100" name="description" required="required"></textarea>

					</div><br><br>
					<br> <a href="/image/show">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
