<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Recipe details</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<br>
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- title heading -->
			<h1 class="text-center">Recipe details</h1>
			<br> <br> <br>
			<!-- //title heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<div class="thumb-image">
								<img th:src="@{${'/recipe/display/'+id}}"
									class="img img-responsive img-fluid" alt="">
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					Name: <b><span th:text="${name}"></span></b><br> <br>
					Category: <b><span th:text="${category}"></span></b><br> <br>
					Date: <b><span
						th:text="${#dates.format({date}, 'dd-MM-yyyy HH:mm')}"></span></b> <br>
					<br>
					<div>
						Description:
						<textarea th:text="${description}" rows="28" cols="78"
							name="description" disabled></textarea>

					</div>
					<br> <a href="/showAllRecipes"
						class="btn btn-warning text-right">Go Back</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
